.userNav{
    width: 100%;
    padding: 10px 10px;
    border-width: 0 0 1px;
    border-color: var(--main-border);
    border-style: solid;
    max-height: 90px;
}
.user{
    display: flex;
    align-items: center;
}
.container{
    display: flex;
    justify-content: flex-end;
    position: relative;
    align-items: center;
    
}
.photoUser{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 21px;
    display: block;
}
.nameUser{
    color: var(--white);
    max-width: 220px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    word-break: break-all;
    margin-left: 20px;
}

.search{
    display: none;
    margin-top: 5px;
    /* position: absolute;
    left: 5px;
    top:calc(50% - 8px) ; */
    background-color: var(--main-bg);
    width: 17px;
    height: 17px;
}


@media screen and (max-width:660px) {
    .search{
        display: block;
        width: 20px;
        height: 20px;
        top:calc(50% - 10px) ;
        
    }
    .container{
        justify-content: space-between;
    }
}


@media screen and (max-width:500px) {
    .userNav{
        width: calc(100% - 71px);
        margin-left: auto;
        border-width: 0 0 1px;
    }
}


@media screen and (max-width:430px) {
    .nameUser{
        max-width: 150px;
    }
}

@media screen and (max-width:360px) {
    .nameUser{
        max-width: 100px;
    }
}
/* @media screen and (max-width: 770px){
    .userNav{
        padding: 10.5px 12px;
    }
    .photoUser{
        width: 40px;
        height: 40px;
        margin-left: 10px;
    }
    .nameUser{
        font-size: 15px;
    }
}



@media screen and (max-width: 450px) {
    .userNav{
        padding: 7px;
    }
    .photoUser{
        width: 25px;
        height: 25px;
        margin-left: 10px;
    }
    .nameUser{
        font-size: 12px;
    }
    
    
} */