.userNav{
    width: 100%;
    padding: 21px 21px;
    border-width: 0 0 1px;
    border-color: var(--main-border);
    border-style: solid;
    max-height: 90px;
}
.user{
    display: flex;
    align-items: center;
}
.container{
    display: flex;
    justify-content: flex-end;
}
.photoUser{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin-left: 21px;
    display: block;
}
.nameUser{
    color: var(--white);
}

@media screen and (max-width: 770px){
    .userNav{
        padding: 13px 13px;
    }

    .photoUser{
        width: 30px;
        height: 30px;
    }
}
