.head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: var(--main-border);
}
.header{
    text-align: center;
    font-weight: 500;
    margin: 0 auto;
}
.dots{
    position: static;
}


.friends {
    background-color: var(--second-main);
    width: 50%;
    height: 100%;
}


.container{    
    margin: 0 auto;
    height: 100%;
}


.searchFriends{
    width: 50%;
    height: 100%;
    border-width: 0 0 0 1px;
    border-style: solid;
    border-color: var(--main-border);
    display: flex;
    flex-direction: column;


}

.containerFriendsList{
    padding-bottom: 30px;
}

.scrollMessages{
    overflow-y: auto;
    height: 100vh;
    margin-right: 3px;
}
.emptyBlock{
    text-align: center;
    padding-top: 10px;
}


@media screen and (max-width: 660px) {
    .searchFriends{
        display: none;
    }

    .friends{
        width: 100%;
    }
   
}
/* @media screen and (max-width: 770px) {
    .head{
        height: 45px;
        
    }
    .header{
        font-size: 14px;
    }
}



@media screen and (max-width: 450px) {
    .head{
        height: 30px;
    }
    /* .header{
        font-size: 10px;
    } 
} */