.sectionForm{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    /* overflow: auto; */
}
.form input:-webkit-autofill,
.form input:-webkit-autofill:hover, 
.form input:-webkit-autofill:focus, 
.form input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px var(--main-bg) inset !important;
    -webkit-text-fill-color:var(--white)!important;
}
.form{
    background-color: var(--second-main);
    padding: 50px 40px 30px 40px;
    border: 1px solid var(--main-border)
    /* border-radius: 20px; */
    /* filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); */
}

.header{
    font-size: 40px;
    text-align: center;
    margin-bottom: 40px;
    padding-bottom: 15px;
    border-width: 0 0 2px;
    border-style: solid;
    border-color: var(--text-mess);
}
.headerForm{
    font-size: 25px;
    text-align: center;
}

.name{
    padding-top: 20px;
}
.email{
    padding: 20px 0;
}
.headerEmail, .headerPass, .headerName{
    font-size: 15px;
    
}

.email, .pass, .name{
    display: flex;
    align-items: center;
}
.email input, .pass input, .name input{
    background-color: var(--main-bg);
    color:var(--white);
    width: 100%;
    margin-left: 10px;
    border-radius: 5px;
    padding: 3px 7px;
}
.regBnt{
    margin: 20px auto 0;
    display: block;
    background-color: var(--desactive-violet);
    /* margin-top: 20px; */
    padding: 11px 20px;
    border-radius: 10px;
    color: var(--white);
    font-size: 18px;
    transition: 0.2s;
}
.regBnt:hover{
    background-color: var(--main-violet);
}

.linkReg{
    /* align-items: center; */
    text-align: center;
    margin: 0 auto;
    padding-top: 20px;
    font-size: 13px;
    display: block;
    color: var(--desactive-text);
    transition: 0.3s;
    max-width: 130px;
}
.linkReg:hover{
    color: var(--white)
}
.email input, 
.pass input{
    border:1px solid transparent;
}

.errorLog .email input, 
.errorLog .pass input{
    border:1px solid var(--red);
}

.errorReg .email input, 
.errorReg .pass input, 
.errorReg .name input{
    border:1px solid var(--red);
}

/* .sectionForm{
    position: relative;
} */

@media screen and (max-width: 770px) {
    .form{
        padding: 40px 30px 20px 30px;
    }

    .header{
        font-size: 30px;
        margin-bottom: 30px;
    }
    .headerForm{
        font-size: 20px;
    }
    .headerEmail, .headerPass, .headerName{
        font-size: 13px;
    }

    .email input, .pass input, .name input{
        font-size: 12px;
    }

    .regBnt{
        padding: 9px 12px;
        font-size: 13px;
    }
    .linkReg{
        padding-top: 10px;
        font-size: 11px;
    }
}