.nameSection input:-webkit-autofill,
.nameSection input:-webkit-autofill:hover, 
.nameSection input:-webkit-autofill:focus, 
.nameSection input:-webkit-autofill:active,
.emailSection input:-webkit-autofill,
.emailSection input:-webkit-autofill:hover, 
.emailSection input:-webkit-autofill:focus, 
.emailSection input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px var(--main-bg) inset !important;
    -webkit-text-fill-color:var(--white)!important;
}
.nameSection input, .emailSection input {
    outline:none!important;
    border: transparent!important; 
    outline-offset: 0!important;
}

.profile{
    background-color: var(--second-main);
    height: 100%;    
    position: relative;
}
.container{
    height: 100%;
    display: flex;
}
.nameEmail{
    align-items: center;
}
.userInfo{
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 550px;
    padding: 21px 80px;
    border-width: 0 1px 0 0;
    border-style: solid;
    border-color: var(--main-border);
}
.photoSection{
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}

#loadPhoto{
    display: none;
    
}
.containerBtn{
    display: flex;
    margin-left: -5px;
    margin-top: 30px;
}
.btnDelete{
    background-color: transparent;
    color:var(--desactive-text);
    font-size: 16px;
    transition: 0.2s;
}
.btnDelete:hover{
    color:var(--white);
}
.editPhoto{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    position: relative;
}
.iconBtn{
    margin-right:9px;
    width: 27px;
    height: 27px;
}
.editUserInfo{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 50%;
    padding: 21px;
}
.downloadImg, .nameSection, .emailSection, .deletePhoto{
    display: flex;
    cursor: pointer;
    align-items: center;
    color: var(--desactive-text);
    transition: 0.2s;
}
.nameSection, .emailSection, .deletePhoto{
    cursor: auto;
}
.downloadImg:hover{
    color:var(--white);
}
.deletePhoto{
    margin-bottom: 20px;
}

.editName, .editEmail{
    padding: 3px 15px;
    border-radius: 3px;
    background-color: var(--main-bg);
    color:var(--white);
}

.userPhoto img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.editAbout, .editField{
    color: var(--desactive-text);
}
.editField, .editAbout{
    margin-right: 20px;
}

.emailSection{
    margin: 20px 0;
}
.nameUser, .emailUser{
    margin-bottom: 15px;
}

.btnUpdate{
    background-color: var(--desactive-violet);
    padding: 10px 20px;
    border-radius: 3px;
    color:var(--white);
    line-height: 21px;
    font-size: 14px;
    font-weight: 500;
    transition: 0.2s;
}
.btnUpdate:hover{
    color:var(--white);
    background-color: var(--main-violet);
}

.updateSection{
    display: flex;
    align-items: center;
    justify-content: center;
}

.nameSection{
    position: relative;
    margin-bottom: 40px;
}
.infoSize{
    display: block;
    font-size: 10px;
    position: absolute;
    bottom: -22px;
    letter-spacing: 1px;
    color:var(--desactive-text);
    left: 5px;
}
.containerBtn{
    margin-left: -2px;
}

.nameSection .err, .emailSection .err{
    border:  1px solid var(--red)!important;
}


@media screen and (max-width: 870px) {
    .profile{
        overflow-y: auto;
        display: flex;
        justify-content: center;
    }
    .container{
        display: block;
        height: calc(100vh - 90px);
        max-width: 391px;
    }
    .userInfo{
        width: 100%;
        display: block;
        border:none;
        padding: 20px 20px 20px 21px;
    }
    .editUserInfo{
        display: block;
        width: 100%;
        padding: 0 20px 20px;
    }
    .containerEditUser, .containerUserInfo{
        width: 100%;
    }
    .userPhoto{
        display: flex;
        justify-content: center;
    }
    .containerBtn{
        margin-top: 22px;
    }
}

@media screen and (max-width: 770px){
    .container{
        height: calc(100vh - 57px);
    }
    .userPhoto img{
        width: 80px;
        height: 80px;
    }
    .btnDelete{
        font-size: 14px;
    }
    .iconBtn{
        width: 22px;
        height: 22px;
        margin-right: 4px;
    }
    .editField, .editAbout{
        margin-right: 10px;
    }
    .editPhoto{
        margin-bottom: 30px;
    }
    .infoSize{
        font-size: 8.5px;
        bottom: -19px;
    }
    .userInfo{
        padding-bottom: 15px;
    }
    .containerBtn{
        margin-top: 15px;
    }
    .nameSection{
        margin-bottom: 30px;
    }
    .deletePhoto{
        margin-bottom: 15px;
    }
    .btnUpdate{
        font-size: 14px;
        padding: 7px 15px;
    }
    .editEmail, .editName{
        font-size: 14px;
        width: 137px;
    }
}

/* @media screen and (max-width: 450px) {
    .userPhoto img{
        width: 60px;
        height: 60px;
    }
    .photoSection{
        margin-bottom: 20px;
    }
    .nameUser, .emailUser{
        margin-bottom: 6px;
    }
    .containerBtn{
        margin-top: 8px;
    }
    .userInfo{
        padding: 15px 20px 8px 21px;
    }
    .editPhoto{
        margin-bottom: 23px;
    }
    .deletePhoto{
        margin-bottom: 8px;
    }
    .nameSection{
        margin-bottom: 23px;
    }
    .profile{
        font-size: 10px;
    }
    .btnDelete{
        font-size: 10px;
    }
    .iconBtn{
        width: 17px;
        height: 17px;
    }
    .infoSize{
        font-size: 7px;
        line-height: 7px;
        bottom: -10px;
    }
    .btnUpdate{
        font-size: 11px;
    }
    .editEmail, .editName{
        font-size: 10px;
    }
} */



@media screen and (max-width:375px) {
    .userInfo, .editUserInfo{
        padding-left: 5px;
        padding-right: 5px;
    }
    .userInfo{
        padding-left: 6px;
    }
    .editEmail, .editName{
       padding: 3px 5px;
    }
}