.profile{
    background-color: var(--second-main);
    /* filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 20px; */
    height: 100%;    
    position: relative;
}
.container{
    height: 100%;
    display: flex;
}
.nameEmail{
    /* padding-left: 21px; */
    align-items: center;
    /* margin: 0 auto; */
    /* width: auto; */
}
.userInfo{
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 550px;
    padding: 21px ;
    border-width: 0 1px 0 0;
    border-style: solid;
    border-color: var(--main-border);
}
.photoSection{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    margin-bottom: 25px;

}

#loadPhoto{
    display: none;
    
}
.containerBtn{
    display: flex;
    margin-left: -5px;
    margin-top: 30px;
}
.btnDelete{
    background-color: transparent;
    color:var(--desactive-text);
    font-size: 16px;
    /* margin-left: 10px; */
    transition: 0.2s;
}
.btnDelete:hover{
    color:var(--white);
}
.editPhoto{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    position: relative;
}
.iconBtn{
    margin-right:9px;
    width: 27px;
    height: 27px;
}
.editUserInfo{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 30%;
    padding: 21px;
}
.downloadImg, .nameSection, .emailSection, .deletePhoto{
    display: flex;
    cursor: pointer;
    align-items: center;
    color: var(--desactive-text);
    transition: 0.2s;
}
.nameSection, .emailSection, .deletePhoto{
    cursor: auto;
}
.downloadImg:hover{
    color:var(--white);
}
.deletePhoto{
    margin-bottom: 20px;
}
/* .deleteBtn{
    background-color: transparent;
} */
.editName, .editEmail{
    padding: 3px 15px;
    border-radius: 3px;
    background-color: var(--main-bg);
    color:var(--white);
}
/* .downloadImg, .deleteBtn, .btnDelete{
    display: block;
    cursor: pointer;
    background-color: var(--main-blue);
    padding: 15px 25px;
    border-radius: 10px;
    color: var(--white);
   
}
.deleteBtn, .btnDelete{
    font-size: 14px;
    background-color: #FF0000;
    margin-left: 20px; 
} */
.userPhoto img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
/* .editPhoto{ 
    margin-top: 20px;
    display: flex;
    align-items: center;
} */

.editAbout, .editField{
    color: var(--desactive-text);
}
.editField, .editAbout{
    margin-right: 20px;
}

.emailSection{
    margin: 20px 0;
}
.nameUser, .emailUser{
    margin-bottom: 15px;
    /* text-align: center; */
}

.btnUpdate{
    background-color: var(--desactive-violet);
    padding: 10px 20px;
    border-radius: 3px;
    color:var(--white);
    line-height: 21px;
    font-size: 14px;
    font-weight: 500;
    transition: 0.2s;
}
.btnUpdate:hover{
    color:var(--white);
    background-color: var(--main-violet);
}

.updateSection{
    display: flex;
    align-items: center;
    justify-content: center;
}

.nameSection{
    position: relative;
    margin-bottom: 40px;
}
.infoSize{
    display: block;
    font-size: 10px;
    position: absolute;
    bottom: -22px;
    letter-spacing: 1px;
    color:var(--desactive-text);
    left: 5px;
}
.containerBtn{
    margin-left: -2px;
}




@media screen and (max-width: 870px) {
    .profile{
        overflow-y: auto;
        display: flex;
        justify-content: center;
        
        /* min-height: 100vh; */
    }
    .container{
        /* background-color: var(--main-bg); */
        display: block;
        /* flex-direction: column;
        align-items: center; */
        /* width: 100%; */
        height: calc(100vh - 90px);
        /* flex:1; */
        max-width: 391px;
        /* border-width: 0 1px;
        border-color: var(--main-border);
        border-style: solid; */
    }
    .userInfo{
        width: 100%;
        display: block;
        border:none;
        padding: 20px 20px 20px 21px;
        /* height: 100%; */
    }
    .editUserInfo{
        display: block;
        width: 100%;
        padding: 0 20px 20px;
        /* height: 400px; */
    }
    .containerEditUser, .containerUserInfo{
        width: 100%;
        
    }
    .userPhoto{
        display: flex;
        justify-content: center;
    }
    .containerBtn{
        margin-top: 22px;
    }
}

@media screen and (max-width: 770px){
    .container{
        height: calc(100vh - 57px);
    }
    .userPhoto img{
        width: 80px;
        height: 80px;
    }
    .btnDelete{
        font-size: 12px;
    }
    .iconBtn{
        width: 20px;
        height: 20px;
        margin-right: 4px;
    }
    .editField, .editAbout{
        margin-right: 10px;
    }
    .editPhoto{
        margin-bottom: 30px;
    }
    .infoSize{
        font-size: 8.5px;
        bottom: -19px;
    }
    .userInfo{
        padding-bottom: 15px;
    }
    .containerBtn{
        margin-top: 15px;
    }
    .nameSection{
        margin-bottom: 30px;
    }
    .deletePhoto{
        margin-bottom: 15px;
    }
    .btnUpdate{
        font-size: 12px;
        padding: 7px 15px;
    }
    .editEmail, .editName{
        font-size: 11px;
    }
}

@media screen and (max-width:375px) {
    .userInfo, .editUserInfo{
        padding-left: 5px;
        padding-right: 5px;
    }
    .userInfo{
        padding-left: 6px;
    }
    .editEmail, .editName{
       padding: 3px 5px;
    }
}