.recents{
    background-color: var(--white);
    border-radius: 20px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    margin-top: 43px;
}

.container {
    max-width: 385px;
    margin: 0 auto;
    padding: 13px 0 21px;
}

.head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.recents .search-dots{
    position: static;
}

.mess{
    display: flex;
    align-items: center;
}
.list{
    justify-content: space-between;
}

