.modal{
    display: none;
}
.active-modal{
    display: block;
}

.containerModal{
    background-color: var(--main-bg);
    filter: none;
    position: relative;
    z-index: 20;
    border-radius: 3px;
    width: 300px;
    top: calc(50% - 120px);
    left: calc(50% - 150px);
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.header{
    color: var(--white);
    margin-bottom: 10px;
}
.input{
    padding: 10px;
    border-radius: 3px;
    margin-bottom: 10px;
    background-color: var(--second-main);
    color:var(--white);
    border: 1px solid transparent;
}
.btn{
    padding: 7px 20px;
    border-radius: 3px;
    background-color: var(--desactive-violet);
    color:var(--white);
    transition: 0.2s;
    font-size: 14px;
}

.btn:hover{
    background-color: var(--main-violet);
}

.exitBtn{
    width: 35px;
    height: 35px;
    position: relative;
    margin: 15px;
    background-color: var(--second-main);
    cursor: pointer;
}

.exitImg{
    position: absolute;
    top:0;
    width: 35px;
    height: 35px;
}
.err{
    border-color: var(--red);
}

@media screen and (max-width:770px) {
    .containerModal{
        padding: 20px 10px;
    }
    .btn{
        font-size: 12px;
    }
}

@media screen and (max-width: 450px) {
    .exitImg{
        width: 25px;
        height: 25px;
    }
    .containerModal{
        padding: 15px 7px;
        width: 280px;
        left: calc(50% - 140px);
    }
    .input{
        padding: 7px;
    }
    .btn{
        font-size: 14px;
    }
}