@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Medium.woff2') format('woff2'),
        url('../fonts/Poppins-Medium.woff') format('woff'),
        url('../fonts/Poppins-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-SemiBold.woff2') format('woff2'),
        url('../fonts/Poppins-SemiBold.woff') format('woff'),
        url('../fonts/Poppins-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}


html,
body {
    height: 100%;
	width: 100%;
	font-size: 100%;
    font-family: 'Poppins', Raleway, verdana, sans-serif;
	line-height: 21px;
	font-size: 16px;
    font-weight: 500;
    background-color: var(--main-bg);
    color:var(--white);
    overflow: hidden;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
}

.wrapper {
    /* overflow: hidden; */
}


/* input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px var(--second-main) inset !important;
    -webkit-text-fill-color:var(--white)!important;
} */
.main-content{
    display: flex;
    justify-content: space-between;
    /* padding: 2.4%; */
    /* flex-wrap: wrap; */
    min-height: 100vh;
}
.section-main{
    width: 100%;
    height: 100%;
    /* padding-bottom: 30px; */
}
.home{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    height: 100%;
}
.header-main{
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap;*/
    flex-grow: 1; 
    width: calc(100% - 90px);
}

.active{
    position: relative;
} 
.active::after{
    content: '';
    position: absolute;
    width: 4px;
    top:-2.5px;
    left: -24px;
    height: 100%;
    border-width: 0 0 0 4px;
    border-color: var(--main-violet);
    border-style: solid;
} 
.active .img-white{
    opacity: 1;
}

.active .name-nav{
    color:var(--white)
}

.empty{
    color: var(--white);
    text-align: center;
}
.modal{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    
}

.active-modal{
    width: 100%;
    height: 100%;
    display: block;
    background-color:var(--second-main); 
}

/* .section-main .module-err .module-err-btn{
    right: 90px;
} */

* {
scrollbar-width: none;
scrollbar-color: #5C5E6F transparent;
}


*::-webkit-scrollbar {
width: 7px;
}

*::-webkit-scrollbar-track {
background: transparent;
}

*::-webkit-scrollbar-thumb {
background-color: #5C5E6F;
border-radius: 7px;
border: 3px solid transparent;
}



@media screen and (max-width:770px) {
    body{
        font-size: 12px;
    }

    .active::after{
        top:-2px;
        left: -13px;
        width: 3px;
        border-width: 0 0 0 2.5px;
    }

    *::-webkit-scrollbar {
        width: 4px;
    }

    *::-webkit-scrollbar-thumb {
        border-radius: 4px;
        border-width: 2px ;
    }
}

@media screen and (max-width: 600px) {
    .home{
        position: relative;
    }
    .home .active-modal-search{
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top:0;
        right: 0;
        border-width: 0;
    }
}