@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Medium.woff2') format('woff2'),
        url('../fonts/Poppins-Medium.woff') format('woff'),
        url('../fonts/Poppins-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-SemiBold.woff2') format('woff2'),
        url('../fonts/Poppins-SemiBold.woff') format('woff'),
        url('../fonts/Poppins-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}


html,
body {
    height: 100%;
	width: 100%;
	font-size: 100%;
    font-family: 'Poppins', Raleway, verdana, sans-serif;
	line-height: 21px;
	font-size: 14px;
    font-weight: 500;
    background-color: var(--main-bg);
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
}

.wrapper {
    overflow: hidden;
}



.main-content{
    display: flex;
    justify-content: space-between;
    padding: 2.4%;
    flex-wrap: wrap;
}

.section-main{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-grow: 1;
}

.header{
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
}

.list-content{
    display: flex;
    align-items: center;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.25);
    padding: 13px 0;
}

.head-name{
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
}

.head-mess{
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: var(--text-mess);
}

.user-mess{
    margin-right: 14px;
}

.list-content:last-child {
    border: none;
    padding-bottom: 0;
}

.list-date-check{
    display: flex;
    flex-direction: column;
    align-items: end;
}

.list-date{
    padding: 16px 0 14px;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: var(--text-date)
}

.recents-list__check-img{
    margin-right: 5px;
}

.second-column{
    padding: 0 22px 0 42px; 
}

.head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}