@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Medium.woff2') format('woff2'),
        url('../fonts/Poppins-Medium.woff') format('woff'),
        url('../fonts/Poppins-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-SemiBold.woff2') format('woff2'),
        url('../fonts/Poppins-SemiBold.woff') format('woff'),
        url('../fonts/Poppins-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}


html,
body {
    height: 100%;
	width: 100%;
	font-size: 100%;
    font-family: 'Poppins', Raleway, verdana, sans-serif;
	line-height: 21px;
	font-size: 16px;
    font-weight: 500;
    background-color: var(--main-bg);
    color:var(--white);
    overflow: hidden;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
}

/* .wrapper {
    overflow: hidden;
}
 */

/* input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px var(--second-main) inset !important;
    -webkit-text-fill-color:var(--white)!important;
} */
.main-content{
    display: flex;
    justify-content: space-between;
    /* padding: 2.4%; */
    /* flex-wrap: wrap; */
    min-height: 100vh;
}
.section-main{
    display: flex;
    /* justify-content: space-between; */
    width: 100%;
    height: 100%;
    flex-direction: column;
}
.header-main{
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap;*/
    flex-grow: 1; 
    max-width: 100%;
}

.active{
    position: relative;
} 
.active::after{
    content: '';
    position: absolute;
    width: 4px;
    top:-2.5px;
    left: -24px;
    height: 100%;
    border-width: 0 0 0 4px;
    border-color: var(--main-violet);
    border-style: solid;
    /* -webkit-box-shadow: 0px 0px 14px 4px rgba(144, 104, 254, 0.29);
    -moz-box-shadow: 0px 0px 14px 4px rgba(144, 104, 254, 0.29);
    box-shadow: 0px 0px 14px 4px rgba(144, 104, 254, 0.29); */
} 
.active .img-white{
    opacity: 1;
}

.active .name-nav{
    color:var(--white)
}

.empty{
    color: var(--white);
    text-align: center;
}
/* .header{
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
}

.list-content{
    display: flex;
    align-items: center;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.25);
    padding: 13px 0;
}

.head-name{
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
}


.user-mess{
    margin-right: 14px;
}

.list-content:last-child {
    border: none;
    padding-bottom: 0;
} */

.list-date-check{
    /* display: flex; */
    /* flex-direction: column; ERROR */
    /* align-items: end; */
}

/* .list-date{
    padding: 16px 0 14px;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: var(--text-date)
}

.recents-list__check-img{
    margin-right: 5px;
}

.second-column{
    padding: 0 22px 0 42px; 
}

.head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.edit-field{
    background-color: rgba(77,77,77, 0.25);
    padding: 15px 25px;
    border-radius: 10px;
}


.modal{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    
}

.active-modal{
    width: 100%;
    height: 100%;
    display: block;
    background-color:rgba(255, 255, 255); */
    /*filter: blur(3px); */
    /* opacity: 1;
    border-radius: 20px;
} */