.sitebar{
    max-width: 186px;
    background-color: var(--main-blue);
    border-radius: 20px;
}
.sitebar-nav{
    padding: 98px 0 196px 0;
}

.sitebar__messages,
.sitebar__notification,
.sitebar__settings{
    padding-top: 43px;
}

.sitebar__user{
    padding: 38px 43px 0 43px;
}

.sitebar-nav .sitebar__img{
    padding: 20px 0 25px 20px;
    margin-left: 25px;
    
}

.sitebar__link{
    margin-left: 25px;
    display: block;
    position: relative;
    transition: 0.3s;
}

.sitebar__link:hover{
    background-color: var(--dark-blue-hover);
    border-radius: 20px 0px 0px 20px;
}

.active-link{
    background-color: var(--dark-blue-hover);
    border-radius: 20px 0px 0px 20px;
}

.active-link::after{
    content: '';
    position: absolute;
    top:0;
    right: 0;
    width: 8px;
    height: 100%;
    background-color: var(--yellow-bnt);
    border-radius:25px 0px 0px 25px;
}

.sitebar__exit-link img{
    margin: 0 auto;
}