/* .messagesSec{
    height: 100%;
} */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: var(--main-border);
    padding: 10px;
    background-color: var(--second-main);
}
.or{
    color:white;
}
.user {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.userImg {
    width: 50px;
    height: 50px;
    margin-right: 33px;
    max-width: 75px;
}


.name {
    font-weight: 600;
    font-size: 20px;
    line-height: 36px;
}


.online {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    opacity: 0.8;
}

.dots{
    position: static;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}


.input{
    background-color: var(--second-main);
    border-radius: 3px;
    margin-right: 20px;
    padding: 10px 20px;
    width: 100%;
    resize: none;
    color: var(--white);
}

.send{
    padding: 5px 5px;
    width: 40px;
    background-color: var(--main-violet);
    border-radius: 10px;
}

.textArea{
    display: flex;
    width: 100%;
    padding: 10px;
    border-width: 1px 0 0 0;
    border-color: var(--main-border);
    border-style: solid;
    /* height: 100%; */
}

.messages{
    height: 100%;
    margin-right: 3px;
    overflow-y: auto;
    padding: 7px;
}

.empty{
    text-align: center;
}

.messagesMe{
    justify-content: end;
    background-color:var(--main-violet);
    color: var(--white);
    margin-right: 7px;
    word-break: break-word;
}

.messagesFriend{
    background-color:var(--second-main) ;
    margin-left: 10px;
    border: 1px solid var(--main-border);
}


.userImg img{
    width: 50px;
    height:  50px;
    border-radius: 50%;
}
.messagesMe, .messagesFriend{
    /* display: flex; */
    padding: 12px 15px 12px 15px;
    max-width: 48%;
    border-radius: 8px;
    position: relative;
}

.messageContainerMe, .messageContainerFriend{
    display: flex;
    margin-bottom: 45px;
    align-items: center;
    /* position: relative; */
}
.messageContainerMe{
    justify-content: end;
    margin-right: 5px;
}

.messageContainerFriend{
    justify-content: start;
    word-wrap: break-word;
    margin-left: 5px;
}

.messagesMe{
    border-top-right-radius: 0;
}
.messagesFriend{
    border-top-left-radius: 0;
}

.dateMe{
    right: 0px;
    text-align: end;
}

.dateFriend{
    left: 0;
}
.dateMessages{
    position: absolute;
    bottom: -20px;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color:var(--desactive-text);
    width: 150px;
}

.deletedInput{
    text-align: center;
    padding: 21px;
    border-width: 1px 0 0 0;
    border-style: solid;
    border-color: var(--main-border);
}

.back{
    display: none;
    width: 30px;
    height: 30px;
}

.photoSender{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.imgSenderBlock{
    /* position: absolute;
    left: calc(50% - 15px);
    right: calc(50% - 15px); */
    /* top: 50%; */
    /* bottom: 50%; */
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.infoSender{
    position: relative;
    display: block;
    /* width: 30px;
    height: 30px; */
    /* border-radius: 50%; */
}
.desactiveName{
    display: none;
}
.nameSender{
    position: absolute;
    font-weight: 900;
    font-size: 16px;
    color: var(--main-bg);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    z-index: 2;
}
.nameSenderText{
    display: block;
    position: absolute;
    top:0;
    font-size: 12px;
    color:var(--white);
    font-weight: 900;
}

@media screen and (max-width: 660px) {
    .name{
        font-size: 16px;
    }

    .messageContainerMe, .messageContainerFriend{
        margin-bottom: 35px;
        font-size: 14px;
    }
    .dateMessages{
        font-size: 11px;
    }
    .messages{
        
        padding: 0px;
    }
}


@media screen and (max-width: 500px) {
    .back{
        display: block;
    }
}

/* @media screen and (max-width:770px) {
    .header{
        padding: 12px;
    }
    .userImg{
        width: 40px;
        height: 40px;
        margin-right: 15px;
    }
    .userImg img{
        width: 40px;
        height: 40px;
    }
    

    .textArea{
        padding: 10px;
    }
    .input{
        padding: 9px 15px 7px;
        font-size: 14px;
    }
    .send{
        width: 34px;
        border-radius: 6px;
    }
    .messageContainerFriend, .messageContainerMe{
        margin-bottom: 25px;
    }
    .messagesFriend, .messagesMe{
        padding: 4px 10px;
        font-size: 14px;
    }
    .dateMessages{
        font-size: 10px;
    }
}

@media screen and (max-width: 450px) {
    .header{
        padding: 7px;
    }
    .userImg{
        width: 30px;
        height: 30px;
        margin-right: 7px;
    }
    .userImg img{
        width: 30px;
        height: 30px;
    }
    .name{
        font-size: 14px;
    }
    .messagesFriend, .messagesMe{
        padding: 4px 7px;
        font-size: 14px;
        line-height: 16px;
    }
    .messagesMe{
        border-radius: 4px 0 4px 4px;
    }
    .messagesFriend{
        border-radius: 0 4px 4px 4px;
    }
    .dateMessages{
        font-size: 9px;
        line-height: 8px;
        bottom: -12px;
    }
    .messageContainerFriend, .messageContainerMe{
        margin-bottom: 20px;
    }
    .textArea{
        padding: 7px;
    }
    .input{
        padding: 6px 10px 5px;
        font-size: 14px;
    }
    .send{
        width: 36px;
        border-radius: 4px;
    }
} */