.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: rgba(0,0,0, 0.25);
    padding-bottom: 25px;
}

.user {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.userImg {
    margin-right: 33px;
    max-width: 75px;
}


.name {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
}


.online {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    opacity: 0.8;
}

.dots{
    position: static;
}

.container{    
    margin: 0 auto;
    padding: 25px 26px 34px 51px;
}


.input{
    background-color: #E0E0E0;
    border-radius: 10px;
    margin-right: 20px;
    padding: 10px 20px;
    width: 100%;
    resize: none;
}

.send{
    padding: 5px 5px;
    width: 40px;
    background-color: var(--main-blue);
    border-radius: 10px;
}

.textArea{
    display: flex;
    width: 100%;
    padding-top: 35px;
    border-width: 2px 0 0 0;
    border-color: rgba(0, 0, 0, 0.25);
    border-style: solid;
}

.messages{
    height: 787px;
    overflow-y: scroll;
    padding: 10px 10px 0 0;
}


.messagesMe{
    justify-content: end;
    background-color:var(--main-blue);
    color: var(--white);
    margin-right: 7px;
    word-break: break-word;
}

.messagesFriend{
    background-color:#CFCFCF ;
    margin-left: 10px;
}



.messagesMe, .messagesFriend{
    display: flex;
    padding: 13px 27px 20px;
    max-width: 48%;
    border-radius: 10px;
    position: relative;
}

.messageContainerMe, .messageContainerFriend{
    display: flex;
    margin-bottom: 55px;
    position: relative;
}
.messageContainerMe{
    justify-content: end;
}

.messageContainerFriend{
    justify-content: start;
}


.messagesMe::after, .messagesFriend::after{
    content: '';
    position: absolute;
    /* background: url(../../img/triangle-messages.svg) 100% 100% no-repeat; */
    width: 20px;
    height: 28px;
    /* right: -7px; */
    bottom: 0;
}
.messagesMe::after{
    background: url(../../img/triangle-messages.svg) 100% 100% no-repeat;
    right: -7px;
}
.messagesFriend::after{
    background: url(../../img/triangle-messages-gray.svg) 100% 100% no-repeat;
    left: -21px;
    margin-left: 10px;
}

.dateMessages{
    position: absolute;
    bottom: -20px;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color:rgba(0,0,0, 0.25);
}