.sidebar{
    /* width: 186px; */
    background-color: var(--main-blue);
    border-radius: 20px;
    max-width: 11%;
}
.nav{
    padding: 98px 0 186px 0;
}

.messages,
.notification,
.search,
.settings{
    padding-top: 43px;
}


.user{
    padding: 38px 43px 0 43px;
}

.img{
    padding: 20px 0 25px 20px;
    margin-left: 25px;
    
}

.link{
    margin-left: 25px;
    display: block;
    position: relative;
    transition: 0.3s;
}

.link:hover{
    background-color: var(--dark-blue-hover);
    border-radius: 20px 0px 0px 20px;
}

.active{
    background-color: var(--dark-blue-hover);
    border-radius: 20px 0px 0px 20px;
}

.active::after{
    content: '';
    position: absolute;
    top:0;
    right: 0;
    width: 8px;
    height: 100%;
    background-color: var(--yellow-bnt);
    border-radius:25px 0px 0px 25px;
}

.exitLink img{
    margin: 0 auto;
    padding-left: 10px;
}

.exit{
    padding-bottom: 30px;
}