.sidebar{
    background-color: var(--main-bg);
    border-width: 0 1px 0 0;
    border-color: var(--main-border);
    border-style: solid;
    /* width: 90px; */
    font-size: 14px;
}

.nav{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.logo{
    display: flex;
    justify-content: center;
    padding: 21px 21px;
    border-width: 0 0 1px 0;
    border-color: var(--main-border);
    border-style: solid;
    max-height: 90px;
}

.logoImg{
    display: block;
}

.container{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.profile, .exit{
    padding: 15px 0;
}

.img{
    width: 35px;
    height: 35px;
}

.home{
    padding: 30px 0 15px;
}

.link{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* transition: 0.3s; */
}

.link:hover .nameNav{
    color: var(--white);
}
.link:hover .imgWhite{
    opacity: 1;
}


.imgDark, .imgWhite{
    position: absolute;
    top:0;
    left: 0;
    width: 35px;
    height: 35px;
}

.imgWhite{
    transition: 0.3s;
    opacity: 0;
}

.imgCont{
    position: relative;
    width: 35px;
    height: 35px;
}

.nameNav{
    transition: 0.2s;
    color:var(--main-gray)
}


@media screen and (max-width: 770px) {
    .logo{
        padding: 13px 13px;
    }
    .logoImg{
        width: 30px;
        height: 30px;
    }
    .home{
        padding: 15px 7px 0;
    }
    .profile, .exit{
        padding: 7px 7px;
    }
    .imgCont{
        width: 25px;
        height: 25px;
    }
    .imgCont img{
        width: 25px;
        height: 25px;
    }
    .nameNav{
        font-size: 10px;
    }
}