#searchIcon, .searchList{
    width: 100%; 
    height: 59px;
    color: var(--desactive-text);
    padding: 0 5px 0 63px;
    background-color: var(--second-main);
}

#searchIcon::placeholder{
    color: var(--desactive-text);
}
.search input:-webkit-autofill,
.search input:-webkit-autofill:hover, 
.search input:-webkit-autofill:focus, 
.search input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px var(--second-main) inset !important;
    -webkit-text-fill-color:var(--white)!important;
}
#searchIcon{
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: var(--main-border);
}
.cont{
    position: relative;    
}

.loupe{
    position: absolute;
    left: 23px;
    top:18px;
    width: 20px;
    height: 20px;
    background-color: var(--second-main);
}

.search{
    width: 100%;
    
}

.searchList{
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: var(--main-border);
}
.searchList{
    background-color: var(--second-main);
    padding-left: 0;
    height: 100%;
}

.list-content{
    padding-bottom: 20px;
}

.list{
    display: flex;
    align-items: center;
    padding: 14px 5px 14px 21px;
}

.user img{
    width: 48px;
    height: 48px;
    border-radius: 50%;
}
.user{
    width: 48px;
    height: 48px;
    border-radius: 50%;
}
.name{
    margin-left: 15px;
    color: var(--white);
}
.searchListName{
    max-height: 100px;
}
.container{
    height: 100%;
}
.containerSearchList{
    overflow-y: auto;
    padding-bottom: 30px;
}
.list:hover{
    background-color: #252632;
}
.empty{
    color: var(--white);
    text-align: center;
    padding-top: 20px;
}
#searchIcon::-webkit-search-cancel-button {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background: url('../../img/close-search.svg') 100% 100% no-repeat;
    background-size: cover;
    cursor: pointer;
}

@media screen and (max-width:770px){
    #searchIcon{
        height: 55px;
        font-size: 14px;
        padding: 2px 0 0 45px;
        color:var(--white);
    }
    .loupe{
        top:calc(50% - 10px);
        left: 13px;
    }
    .loupe img{
        width: 17px;
        height: 17px;
        top:calc(50% - 9px);
    }
    .searchList{
        padding: 14px;
    }
    .user{
        width: 40px;
        height: 40px;
    }
    .user img{
        width: 40px;
        height: 40px;
    }
    .list{
        padding: 11px 14px 10px 11px;
    }
    .searchList{
        padding: 0 3px 0 0 ;
    }
    /* .name{
        font-size: 12px;
    } */
    /* #searchIcon{
        font-size: 12px;
        
    } */
}

/* @media screen and (max-width: 450px) {
    .search img{
        width: 14px;
        height: 14px;
    }
    #searchIcon{
        height: 35px;
        font-size: 10px;
        padding-left: 30px;
    }
    .loupe{
        top:calc(50% - 9px);
        left: 8px;
    }
    .empty{
        padding-top: 15px;
        font-size: 10px;
    }
    .list{
        padding: 5px 10px 5.5px 10px;
    }
    .user{
        width: 27px;
        height: 27px;
        margin-right: 0;
    }
    .user img{
        width: 27px;
        height: 27px;
    }
    .name{
        font-size: 10px;
    }
} */