#searchIcon, .searchList{
    width: 100%; 
    height: 50px;
    color: var(--desactive-text);
    padding: 0 5px 0 63px;
    background-color: var(--second-main);
}

#searchIcon::placeholder{
    color: var(--desactive-text);
}
.search input:-webkit-autofill,
.search input:-webkit-autofill:hover, 
.search input:-webkit-autofill:focus, 
.search input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px var(--second-main) inset !important;
    -webkit-text-fill-color:var(--white)!important;
}
#searchIcon{
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: var(--main-border);
}
.cont{
    position: relative;    
}

.loupe{
    position: absolute;
    left: 23px;
    top:calc(50% - 10px);
    width: 20px;
    height: 20px;
    background-color: var(--second-main);
}

.search{
    width: 100%;
    
}

.searchList{
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: var(--main-border);
}
.searchList{
    background-color: var(--second-main);
    padding-left: 0;
    height: 100%;
}

.list-content{
    padding-bottom: 20px;
}

.list{
    display: flex;
    align-items: center;
    padding: 10px;
}

.user img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.user{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.name{
    margin-left: 15px;
    color: var(--white);
}
.searchListName{
    max-height: 100px;
}
.container{
    height: 100%;
}
.containerSearchList{
    overflow-y: auto;
    padding-bottom: 30px;
}
.list:hover{
    background-color: #252632;
}

#searchIcon::-webkit-search-cancel-button {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background: url('../../img/close-search.svg') 100% 100% no-repeat;
    background-size: cover;
    cursor: pointer;
}
