.list{
    padding: 15px 0 13px;
    justify-content: space-between;
    color:var(--white)
}
.message{
    display: flex;
    align-items: center;
    max-width: 90%;
}
.userPhoto img{
    border-radius: 50%;
}
.userPhoto{
    height: 48px; 
    width: 48px;
    margin-right: 15px;
}
.userMess{
    font-size: 12px;
    max-width: 85%;
}
.name{
    font-size: 14px;
    padding-bottom: 6px;
}

.date{
    font-size: 10px;
    color:var(--desactive-text)
}
.headMess{
    max-width: 100%;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: var(--desactive-text);
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    word-break: break-all;
}
.list{
    display: flex;
    justify-content: space-between; 
    padding-right: 28px;
    padding-left: 22px;
}
.list:hover{
    background-color: #252632;
   
}

